.App {
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.Filters {
    grid-column: 2/3;
    padding: 10px;
    border: 2px solid rgb(226, 226, 226);
}

.Filter {
    padding: 10px;
    margin: 5px;
}

.add-filter {
    cursor: pointer;
    padding: 20px;
    border: 2px solid rgb(226, 226, 226);
}

.Filter label {
    display: inline-block;
    width: 80px;
}

.id {
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

.operator {
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}

.value {
    padding: 5px;
    width: 150px;
    margin-right: 10px;
}