.App {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.Filters {
    grid-column: 2/3;
    padding: 10px;
    border: 2px solid rgb(226, 226, 226);
}

.Filter {
    padding: 10px;
    margin: 5px;
}

.add-filter {
    cursor: pointer;
    padding: 20px;
    border: 2px solid rgb(226, 226, 226);
}